---
import Layout from '#layouts/Layout.astro';
import {getCollection} from "astro:content";

const collection = await getCollection("essential_react_16");
---

<Layout>
    <main>
	<ol>
		{collection.map(({data: {order, snippet: video}}) => {
			return (
				<li>
					<a href={`/essential-react/16/${order}`}>
						{video.title}
					</a>
				</li>
			)
		})}
	</ol>
    </main>
</Layout>
