---
import Layout from '#layouts/Layout.astro';
---

<Layout>
	<title slot="title">lunch.dev | home</title>

	<main>
		<p>I'm sorry. I fucked up and now the site is broken.</p>
		<p>Until it's back online, many of the courses are now available as <a href="https://www.youtube.com/@chantastic/playlists">public playlists on Youtube</a>.</p>
		<p>Thanks for suffering me.</p>
		<p><a href="https://www.youtube.com/@chantastic">chan</a></p>

		<ol>
			<li><a href="/essential-react/16">Essential React, <span>v16</span></a></li>
			<li><a href="/function-components/15">Function components, <span>v15</span></a></li>
			<li><a href="/essential-npm/6">Essential npm, <span>v6</span></a></li>
		</ol>
	</main>
</Layout>

